<!-- <mat-sidenav-container class="sidenav-container">

    <mat-sidenav
        #drawer class="sidenav"
        fixedInViewport="true"
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="!(isHandset$ | async)">

      <mat-toolbar>*user profile name</mat-toolbar>

      <mat-nav-list>
        <a mat-list-item routerLink="statistic"> Statistic </a>
        <a mat-list-item routerLink="head-view-customer-feedback"> Customer Feedback </a>
        <a mat-list-item routerLink="head-view-registered-account"> Registered Account </a>
      </mat-nav-list>

    </mat-sidenav>

    <mat-sidenav-content>

      <mat-toolbar class="dashboard-toolbar">

        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>

        <span>Customer Complaint Management System (Admin) </span>

      </mat-toolbar>

      <router-outlet></router-outlet>

    </mat-sidenav-content>

  </mat-sidenav-container> -->

<mat-drawer-container class="login-container" autosize>
  <mat-drawer #drawer mode="side">
    <mat-toolbar style="background-color: white;">*user profile name</mat-toolbar>

    <mat-nav-list>
      <a mat-list-item routerLink="statistic"> Statistic </a>
      <a mat-list-item routerLink="complaint-history"> History </a>
      <a mat-list-item routerLink="head-view-registered-account"> Registered Account </a>
    </mat-nav-list>
  </mat-drawer>

  <div>

    <mat-toolbar class="dashboard-toolbar">

      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <span>Customer Complaint Management System (Admin)</span>
      <span class="toolbar-spacer"></span>
      <a routerLink=""> <mat-icon>logout</mat-icon> </a>
    </mat-toolbar>

    <router-outlet></router-outlet>

  </div>

</mat-drawer-container>
