/* .sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
} */

.dashboard-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #4E4B42;
  color: white;
}

.login-container {
  height: 100%;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

mat-toolbar a {
  display: inline-block;
  margin: 0px 10px;
  padding-top: 10px;
  color: white;
  text-decoration: none;
}
