.background {
  background-image: url("../assets/images/R4HPUxC.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.login-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20%;
  background-color: #E6E3D8;
}

.login-container > * {
  width: 100%;
}

.login-content {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}

.login-page-button {
  background-color: #353327;
  color: white;
  margin-top: 5%;
}

.login-page-register-link {
  text-align: center;
  color: #353327;
  padding-top: 20px;
  cursor: pointer;
}

.register-dialog-content mat-form-field {
  width: 250px;
}

.register-button {
  background-color: #353327;
  color: white;
  margin-top: 5%;
  width: 250px;
}

.close-dialog {
  float: right;
}
