<div class="background">
  <mat-card class="login-container">

    <mat-card-title class="login-header">CCMS</mat-card-title>

    <mat-card-content class="login-content">

      <mat-form-field>
        <input matInput type="text" id="username" placeholder="Username" [(ngModel)]="user.id" [formControl]="usernameValidator" required>
        <mat-error *ngIf="usernameValidator.invalid">{{getUsernameErrorMessage()}}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput [type]="hide ? 'password' : 'text'" id="password" placeholder="Password" [(ngModel)]="user.password" [formControl]="passwordValidator" required>
        <mat-icon matSuffix (click)="hide = !hide">{{getVisibility()}}</mat-icon>
        <mat-error *ngIf="passwordValidator.invalid">{{getPasswordErrorMessage()}}</mat-error>
      </mat-form-field>

      <button mat-raised-button (click)="login()" class="login-page-button">LOGIN</button>
      <span class="login-page-register-link" (click)="openRegisterDialog()">Register Account</span>
    </mat-card-content>

  </mat-card>
</div>
