<h1 mat-dialog-title> Registration <button mat-icon-button class="close-dialog" (click)="closeDialog()"><mat-icon>close</mat-icon></button> </h1>

<div mat-dialog-content class="register-dialog-content">
  <mat-form-field>
    <input matInput placeholder="Name" [(ngModel)]="user.name" required>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Position" [(ngModel)]="user.position" required>
      <mat-option value="Senior CS">Senior Customer Service</mat-option>
      <mat-option value="Junior CS">Junior Customer Service</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Phone Number" [(ngModel)]="user.phone" required>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Email" [formControl]="emailValidate" [(ngModel)]="user.email" required>
    <mat-error *ngIf="emailValidate.invalid">{{getEmailErrorMessage()}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Username (ID - 8 characters)" [(ngModel)]="user.id" required [minlength]=8 [maxlength]=8>
  </mat-form-field>

  <mat-form-field>
    <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" [(ngModel)]="user.password" required>
    <mat-icon matSuffix (click)="hide = !hide">{{getVisibility()}}</mat-icon>
  </mat-form-field>

  <button mat-raised-button (click)="onRegisterClick()" class="register-button">REGISTER</button>
</div>


