.history-container {
  max-width: 90%;
  margin: 20px auto;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.complaint-history-content {
  justify-content: center;
}

.complaint-history-container button{
  display: inline-block;
  width: 215px;
  background-color: #4E4B42;
  color: white;
  font-size: 16px;
  margin: 5px;
}

.view-history-container {
  max-width: 90%;
  margin: 20px auto;
}

.view-history-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.view-history-content mat-form-field {
  font-size: 17px;
}

.view-history-content input:disabled {
  color: black;
}

.view-history-content textarea:disabled {
  color: black;
}

.button-style {
  background-color: #353327;
  color: white;
  margin-top: 20px;
  width: 100%;
}

.highlight {
  background: #edeeef;
}
