<mat-card class="history-container">

  <mat-card-title> History </mat-card-title>

  <mat-card-content>
    <chart [type]="historyChart.type" [data]="historyChart.data" [options]="historyChart.options" style="height: 300px; margin-bottom: 50px;"></chart>

    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Complaint Category" [(ngModel)] = "selectedCategory" (ngModelChange)="applyFilter(selectedCategory)">
        <mat-option *ngFor="let category of categories" [value]="category.value">
          {{category.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <!-- 'ID', 'category', 'risk', 'name', 'phone', 'email' -->

      <ng-container matColumnDef="ID">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let histories"> {{histories.id}} </td>
      </ng-container>

      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef> Category </th>
        <td mat-cell *matCellDef="let histories"> {{histories.category}} </td>
      </ng-container>

      <ng-container matColumnDef="risk">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Risk Level </th>
        <td mat-cell *matCellDef="let histories"> {{histories.risk}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let histories"> {{histories.name}} </td>
      </ng-container>

      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef> Phone Number </th>
        <td mat-cell *matCellDef="let histories"> {{histories.phone}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let histories"> {{histories.email}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let histories"> {{histories.status}} </td>
      </ng-container>

      <ng-container matColumnDef="cs_id">
        <th mat-header-cell *matHeaderCellDef> CS ID </th>
        <td mat-cell *matCellDef="let histories"> {{histories.cs_id}} </td>
      </ng-container>

      <ng-container matColumnDef="registered_datetime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> DateTime </th>
        <td mat-cell *matCellDef="let histories"> {{histories.registered_datetime}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row
        *matRowDef="let row; columns: displayedColumns;"
        [ngClass]="{'highlight': selectedRowIndex == row.id}"
        (click)="selectedRow(row)">
      </tr>
    </table>

    <button mat-raised-button class="button-style" (click)="deleteHistories()" [disabled]="enabled === 1 ? false : true" >DELETE HISTORY RECORD</button>
  </mat-card-content>
</mat-card>

<mat-card class="view-history-container">

    <mat-card-title>View History Details</mat-card-title>

    <mat-card-content class="view-history-content">

      <mat-form-field>
        <input matInput placeholder="Complaint ID" [(ngModel)] = "specificHistory.id" [disabled]="true">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Complaint Category" [(ngModel)] = "specificHistory.category" [disabled]="true">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Complaint Risk Level" [(ngModel)] = "specificHistory.risk" [disabled]="true">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Name" [(ngModel)] = "specificHistory.name" [disabled]="true">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Phone Number" [(ngModel)] = "specificHistory.phone" [disabled]="true">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Email" [(ngModel)] = "specificHistory.email" [disabled]="true">
      </mat-form-field>

      <mat-form-field>
        <textarea matInput placeholder="Complaint Description" [(ngModel)] = "specificHistory.description" [disabled]="true"></textarea>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Status" [(ngModel)] = "specificHistory.status" [disabled]="true">
      </mat-form-field>

    </mat-card-content>

  </mat-card>
