<mat-card class="profile-container">

  <mat-card-title>Profile</mat-card-title>

  <mat-card-content class="profile-content">
    <mat-icon>account_circle</mat-icon>

    <mat-form-field>
      <input matInput placeholder="Name" [(ngModel)]="updatedUser.name" [disabled]="editing === 1 ? false : true">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Position" [(ngModel)]="updatedUser.position" [disabled]="true">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Phone Number" [(ngModel)]="updatedUser.phone" [disabled]="editing === 1 ? false : true">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Email" [(ngModel)]="updatedUser.email" [disabled]="true">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Username (ID)" [(ngModel)]="updatedUser.id" [disabled]="true">
    </mat-form-field>

    <mat-form-field>
      <input matInput [type]="'password'" placeholder="Password" [(ngModel)]="updatedUser.password" [disabled]="editing === 1 ? false : true">
    </mat-form-field>

    <button mat-raised-button class="edit-button" (click)="editing === 1 ? save() : updatedUser.password = ''; editing=1">{{changeEditState()}}</button>
  </mat-card-content>

</mat-card>
