.profile-container {
  max-width: 800px;
  margin: 20px auto;
}

.profile-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.profile-content mat-form-field {
  font-size: 17px;
}

.profile-content input:disabled {
  color: black;
}

.profile-content mat-icon {
  font-size: 120px;
  height: 120px;
  color: #4E4B42;
  margin-left: 335px;
  margin-right: auto;
}

.edit-button {
  background-color: #353327;
  color: white;
  margin-top: 20px;
}
