<mat-drawer-container class="login-container" autosize>
  <mat-drawer #drawer mode="side">
    <mat-toolbar style="background-color: white;">{{this.user_id}}</mat-toolbar>

    <mat-nav-list>
      <a mat-list-item routerLink="statistic"> Statistic </a>
      <a mat-list-item routerLink="complaint-entry"> Complaint Entry </a>
      <a mat-list-item routerLink="complaint-record"> Complaint Record </a>
      <a mat-list-item routerLink="complaint-history"> Complaint History </a>
      <a mat-list-item routerLink="profile"> Profile </a>
    </mat-nav-list>
  </mat-drawer>

  <div>

    <mat-toolbar class="dashboard-toolbar">

      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <span>Customer Complaint Management System</span>
      <span class="toolbar-spacer"></span>
      <a routerLink=""> <mat-icon>logout</mat-icon> </a>
    </mat-toolbar>

    <router-outlet></router-outlet>

  </div>

</mat-drawer-container>
