<mat-card class="registered-account-container">

  <mat-card-title> Registered Account </mat-card-title>

  <mat-card-content>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Position" [(ngModel)] = "selectedPosition" (ngModelChange)="applyFilter(selectedPosition)">
        <mat-option *ngFor="let position of positions" [value]="position.value">
          {{position.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

      <ng-container matColumnDef="ID">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let accounts"> {{accounts.id}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let accounts"> {{accounts.name}} </td>
      </ng-container>

      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> Position </th>
        <td mat-cell *matCellDef="let accounts"> {{accounts.position}} </td>
      </ng-container>

      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef> Phone Number </th>
        <td mat-cell *matCellDef="let accounts"> {{accounts.phone}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let accounts"> {{accounts.email}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row
        *matRowDef="let row; columns: displayedColumns;"
        (click)="selectedRow(row)"
        [ngClass]="{'highlight': selectedRowIndex == row.id}">
      </tr>
    </table>

    <button mat-raised-button class="button-style" (click)="deleteAccount()">DELETE ACCOUNT</button>
  </mat-card-content>
</mat-card>

