.registered-account-container {
  max-width: 70%;
  margin: 20px auto;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.button-style {
  background-color: #353327;
  color: white;
  margin-top: 20px;
  width: 100%;
}

.highlight {
  background: #edeeef;
}
