<mat-card class="complaint-entry-container">

  <mat-card-title>Complaint Entry</mat-card-title>

  <mat-card-content class="complaint-entry-content">
    <mat-form-field>
      <mat-select placeholder="Complaint Category" [(ngModel)] = "customerComplaint.category" required>
        <mat-option *ngFor="let complaint of complaints" [value]="complaint.value">
          {{complaint.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Complaint Risk Level" [(ngModel)] = "customerComplaint.risk" required>
        <mat-option *ngFor="let level of levels" [value]="level.value">
          {{level.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Name" [(ngModel)] = "customerComplaint.name" required>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Phone Number" [(ngModel)] = "customerComplaint.phone" required>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Email" [formControl]="emailValidate" [(ngModel)] = "customerComplaint.email" required>
      <mat-error *ngIf="emailValidate.invalid">{{getEmailErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput placeholder="Complaint Description" [(ngModel)] = "customerComplaint.description" required></textarea>
    </mat-form-field>

    <button mat-raised-button class="register-button" (click) = "onSubmit()">REGISTER</button>
  </mat-card-content>

</mat-card>

