.complaint-entry-container {
  max-width: 800px;
  margin: 20px auto;
}

.complaint-entry-content {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.complaint-entry-content mat-form-field {
  font-size: 17px;
}

.register-button {
  background-color: #353327;
  color: white;
  margin-top: 20px;
}
