/* .complaint-record-container {
  max-width: 60%;
  margin: 20px auto;
}

.complaint-record-content {
  justify-content: center;
}

.complaint-record-container button{
  display: inline-block;
  width: 215px;
  background-color: #4E4B42;
  color: white;
  font-size: 16px;
  margin: 5px;
} */

.complaint-record-container {
  max-width: 90%;
  margin: 20px auto;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

/* edit section */

.edit-complaint-container {
  max-width: 90%;
  margin: 20px auto;
}

.edit-complaint-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.edit-complaint-content mat-form-field {
  font-size: 17px;
}

.edit-complaint-content input:disabled {
  color: black;
}

.edit-complaint-content textarea:disabled {
  color: black;
}

.edit-complaint-content mat-icon {
  font-size: 120px;
  height: 120px;
  color: #4E4B42;
  margin-left: 335px;
  margin-right: auto;
}

.button-style {
  background-color: #353327;
  color: white;
  margin-top: 20px;
}

.highlight {
  background: #edeeef;
}
