<!-- <div class="complaint-record-container">
    <mat-toolbar>
      <mat-toolbar-row style="font-size: 25px;">
        Complaint Record
      </mat-toolbar-row>

      <mat-toolbar-row class="complaint-record-content" >

        <button mat-raised-button routerLink="show-complaint-record">Billing ({{(billing$ | async)?.length}})</button>
        <button mat-raised-button routerLink="show-complaint-record">Disconnection ({{(billing$ | async)?.length}})</button>
        <button mat-raised-button routerLink="show-complaint-record">Service ({{(billing$ | async)?.length}})</button>
        <button mat-raised-button routerLink="show-complaint-record">Plan ({{(billing$ | async)?.length}})</button>
        <button mat-raised-button routerLink="show-complaint-record">Termination ({{(billing$ | async)?.length}})</button>

        CHANGE OTHER DESIGN FOR SHOWING THE DATA. THIS IS FUCKING REDUNDANT

      </mat-toolbar-row>
    </mat-toolbar>

  <router-outlet></router-outlet>
</div> -->

<mat-card class="complaint-record-container">

  <mat-card-title> Complaint Record </mat-card-title>

  <mat-card-content>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Complaint Category" [(ngModel)] = "selectedCategory" (ngModelChange)="applyFilter(selectedCategory)">
        <mat-option *ngFor="let category of categories" [value]="category.value">
          {{category.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <!-- 'ID', 'category', 'risk', 'name', 'phone', 'email' -->

      <ng-container matColumnDef="ID">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let complaints"> {{complaints.id}} </td>
      </ng-container>

      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef> Category </th>
        <td mat-cell *matCellDef="let complaints"> {{complaints.category}} </td>
      </ng-container>

      <ng-container matColumnDef="risk">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Risk Level </th>
        <td mat-cell *matCellDef="let complaints"> {{complaints.risk}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let complaints"> {{complaints.name}} </td>
      </ng-container>

      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef> Phone Number </th>
        <td mat-cell *matCellDef="let complaints"> {{complaints.phone}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let complaints"> {{complaints.email}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let complaints"> {{complaints.status}} </td>
      </ng-container>

      <ng-container matColumnDef="cs_id">
        <th mat-header-cell *matHeaderCellDef> CS ID </th>
        <td mat-cell *matCellDef="let complaints"> {{complaints.cs_id}} </td>
      </ng-container>

      <ng-container matColumnDef="registered_datetime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> DateTime </th>
        <td mat-cell *matCellDef="let complaints"> {{complaints.registered_datetime}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row
        *matRowDef="let row; columns: displayedColumns;"
        (click)="selectedRow(row)"
        [ngClass]="{'highlight': selectedRowIndex == row.id}"
        routerLink="../complaint-record">
      </tr>
    </table>
  </mat-card-content>
</mat-card>

<mat-card class="edit-complaint-container">

  <mat-card-title>Edit Complaint Details</mat-card-title>

  <mat-card-content class="edit-complaint-content">

    <mat-form-field>
      <input matInput placeholder="Complaint ID" [(ngModel)] = "updatedCustomerComplaint.id" [disabled]="true">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Complaint Category" [(ngModel)] = "updatedCustomerComplaint.category" [disabled]="true">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Complaint Risk Level" [(ngModel)] = "updatedCustomerComplaint.risk" [disabled]="true">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Name" [(ngModel)] = "updatedCustomerComplaint.name" [disabled]="editing === 1 ? false : true">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Phone Number" [(ngModel)] = "updatedCustomerComplaint.phone" [disabled]="editing === 1 ? false : true">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Email" [(ngModel)] = "updatedCustomerComplaint.email" [disabled]="true">
    </mat-form-field>

    <mat-form-field>
      <textarea matInput placeholder="Complaint Description" [(ngModel)] = "updatedCustomerComplaint.description" [disabled]="editing === 1 ? false : true"></textarea>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Status" [(ngModel)] = "updatedCustomerComplaint.status" [disabled]="true">
    </mat-form-field>

    <button mat-raised-button class="button-style" (click)="editing === 1 ? save() : edit()">{{changeEditState()}}</button>
    <button mat-raised-button class="button-style" (click)="markCaseClosed()">MARK AS CASE CLOSED</button>
  </mat-card-content>

  </mat-card>
