<div class="statistic-container">
  <chart [type]="complaintsChart.type" [data]="complaintsChart.data" [options]="complaintsChart.options" style="height: 300px; margin-bottom: 50px;"></chart>
  <chart [type]="riskChart.type" [data]="riskChart.data" [options]="riskChart.options" style="height: 300px; margin-bottom: 50px;"></chart>
</div>


